nav {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    padding: 24px;
    color: #000;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1009;
}

nav .nav-holder-1 .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

nav .nav-holder-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    overflow: hidden;
    height: 83px;
}

nav .nav-holder-1 .logos {
    flex-shrink: 0;
    margin-bottom: 35px;
}

nav .nav-holder-1 .logo span {
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
}

.nav-holder-2 ul li,
.main-nav .container ul li {
    display: inline-block;
    position: relative;
    padding: 5px 0px;
}

.nav-holder-2 ul li::after,
.main-nav .container ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-holder-2 ul li:hover::after,
nav .main-nav .container ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-holder-2 ul li:hover,
nav .main-nav .container ul li:hover {
    opacity: 0.5;
    transition: all 200ms ease-in;
}

.active {
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}

.nav-holder-3 {
    font-size: 1.3rem;
    font-weight: 100;
    cursor: pointer;
    text-align: end;
}

.nav-holder-2 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    padding: 21px 47px;
    transition: transform 500ms ease-in;
    z-index: 100000;
    transition: right 0.3s ease;
    justify-content: start;
}

.nav-holder-2 ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 3.2rem;
}

.nav-holder-2.is-active {
    margin: auto;
    right: 0;
}

.navbar-close {
    display: block;
    margin: 20px -3px 65px 0px;
    text-align: end;
}



nav .main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    gap: 50px;
    font-size: 13px;
    text-transform: uppercase;
}

nav .main-nav .navholder-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}


nav .main-nav .container ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (min-width: 768px) and (max-width: 1025px) {
    .nav-holder-2 ul {
        gap: 15px;
    }

    nav {
        padding: 20px;
    }
}

@media (max-width: 767px) {

    .nav-holder-2 ul {
        font-size: 2rem;
        align-items: center;
    }

    nav .nav-holder-1 .logo span {
        font-size: 25px;
    }

    nav .nav-holder-1 .logos {
        margin-bottom: 20px;
    }

    nav .main-nav .container {
        display: none;
    }

    nav .main-nav .navholder-4 {
        gap: 30px;
    }
}