.about-hero {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(242, 242, 242, 0.686), rgba(242, 242, 242, 0.786)), url(../img/dotted.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.about-main-hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding-left: 30px;
}

.about-main-hero span {
    font-size: clamp(2.5rem, 20vw + 8rem, 10.3rem);
    line-height: 0.9;
    color: #000;
    font-weight: bolder;
}

.section-about-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 80px 50px;
    gap: 30px;
}


.section-about-1 .section-b {
    width: 45%;
}

.section-about-1 .section-a {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-about-1 .section-a div {
    font-size: clamp(1.1rem, 2vw + 1rem, 2rem);
    line-height: 1.2;
    font-weight: 900;
}

.section-about-1 .section-a p {
    font-size: 16px;
    line-height: 1.25;
    width: 90%;
}

.section-2-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 80px 50px;
    gap: 40px;
    background-color: #fff;
}



.section-3-about .section-a,
.section-2-about .section-a {
    width: 35%;
    font-weight: 900;
    line-height: 1.15;
    font-size: clamp(1.3rem, 2vw + 1rem, 2.5rem);
}


.section-about-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    gap: 35px;
}

.section-2-about .section-b,
.section-2-about .section-c,
.section-2-about .section-d,
.section-2-about .section-e {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.section-2-about .section-b h4,
.section-2-about .section-c h4,
.section-2-about .section-d h4,
.section-2-about .section-e h4 {
    font-size: 16px;
}

.section-2-about .section-b p,
.section-2-about .section-c p,
.section-2-about .section-d p,
.section-2-about .section-e p {
    font-size: 14px;
    line-height: 1.45;
}


.section-3-about {
    display: flex;
    gap: 10px;
    padding: 55px 50px;
    width: 100%;
}

.section-3-about .section-a {
    width: 20%;
}

.section-3-about .section-b {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    width: 80%;
}

.section-3-about .section-b .section-b-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-3-about .section-b .section-b-btn .next,
.section-3-about .section-b .section-b-btn .prev {
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: .5rem;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.section-3-about .section-b .section-b-btn .next:hover,
.section-3-about .section-b .section-b-btn .prev:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.section-3-about .section-b .section-b-btn .next:active,
.section-3-about .section-b .section-b-btn .prev:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}


.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.main-swiper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 420px;
}

.main-swiper .a {
    aspect-ratio: 1/1;
    width: 50%;
}

.main-swiper .b {
    color: #000;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 0px 30px;
}


.swiper-slide:nth-child(1n),
.swiper-slide:nth-child(2n),
.swiper-slide:nth-child(3n),
.swiper-slide:nth-child(4n) {
    background-color: #f2f2f2;
}


.swiper-slide:nth-child(1n) .a {
    background-image: url(../img/gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(2n) .a {
    background-image: url(../img/cook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(3n) .a {
    background-image: url(../img/karate.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide:nth-child(4n) .a {
    background-image: url(../img/music.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-swiper .b h2 {
    font-size: 2rem;
    font-weight: 900;
}

.main-swiper .b p {
    font: 14px;
    line-height: 1.45;
}


/* responsive for tablet mode */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .about-main-hero span {
        font-size: 7rem;
    }

    .about-hero {
        height: 90vh;
    }

    .about-main-hero {
        top: 55%;
        left: 50%;
    }

    .section-about-1,
    .section-2-about {
        padding: 50px 30px;
    }

    .section-3-about {
        flex-direction: column;
    }

    .section-3-about .section-b {
        width: 100%;
    }


}



@media (max-width: 767px) {
    .about-hero {
        height: 90vh;
    }

    .about-main-hero {
        top: 55%;
        left: 50%;
        padding: 20px;
    }

    .about-main-hero span {
        font-size: clamp(3rem, 10vw + 1rem, 13rem);
    }

    .section-about-1,
    .section-2-about,
    .section-3-about {
        flex-direction: column;
        padding: 40px 30px;
        align-items: start;
    }

    .section-about-1 .section-a,
    .section-about-1 .section-b,
    .section-about-2,
    .section-2-about .section-a,
    .section-2-about .section-b,
    .section-2-about .section-c,
    .section-2-about .section-d,
    .section-2-about .section-e,
    .section-3-about .section-b,
    .main-swiper .b,
    .main-swiper .a,
    .section-about-1 .section-a p {
        width: 100%;
    }

    .main-swiper {
        flex-direction: column;
    }

    .main-swiper .b {
        padding: 0px;
    }


}