.home-hero {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(242, 242, 242, 0.686), rgba(242, 242, 242, 0.786)), url(../img/dotted.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.home-main-hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding-left: 25px;
}



.home-main-hero span {
    font-size: clamp(4rem, 16vw + 8rem, 13rem);
    line-height: 0.8;
    color: #000;
    font-weight: bolder;
    letter-spacing: 2px;
    /* transform: scaleY(1.2) */
}

.home-main-hero .home-hero-2 {
    position: absolute;
    top: 65%;
    left: 83%;

}



.arrows {
    width: 60px;
    height: 72px;
    /* position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px; */
}

.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}


.home-section-1 {
    width: 100%;
    height: auto;
    padding: 50px;
    background: #f2f2f2;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.home-section-1 .section-1-p {
    font-size: 20px;
    line-height: 1.25;
    width: 45%;
    color: #000;
    font-weight: 500;
    margin-left: 85px;
}

.section-1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.A {
    width: 60%;
}

.B {
    width: 25%;
}

.F {
    width: 25%;
}

.G {
    width: 60%;
}

.home-section-1 #container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px 0px;
}

.home-section-1 #container img {
    height: 350px;
}

.home-section-1 #container .main-text {
    font-weight: 600;
    font-size: 16px;
}

.home-section-1 .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    padding: 20px 25px;
    width: 15%;
    margin: auto;

}


.home-section-1 .btn:hover {
    background: #000;
    color: #fff;
    transition: all 500ms ease;
    border-radius: 48px;
}

.home-section-2 {
    width: 100%;
    height: 60%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #fff;
}

.home-section-2 .section-a {
    width: 45%;
    font-weight: 700;
    font-size: clamp(1.2rem, 2vw + 1rem, 2.3rem);
    line-height: 1.25;
}

.home-section-2 .section-b {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.home-section-2 .section-b p {
    font-size: 18px;
    line-height: 1.45;
}


.home-section-2 .section-b .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    width: 50%;
}

.home-section-2 .section-b .btn:hover .span-2 {
    position: relative;
    right: -3px;
    font-weight: bold;
}

/* responsive for tablet mode */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .home-main-hero span {
        font-size: 7rem;
    }

    .home-main-hero {
        top: 55%;
        left: 50%;
    }

    .home-hero {
        height: 90vh;
    }

    .home-section-1 .section-1-p {
        width: 70%;
        margin-left: 44px;
    }

    .A {
        width: 55%;
    }

    .B {
        width: 35%;
    }

    .F {
        width: 35%;
    }

    .G {
        width: 55%;
    }

    .home-section-1 .btn {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .home-hero {
        height: 90vh;
    }

    .home-main-hero {
        top: 55%;
        left: 50%;
    }

    .home-main-hero span {
        font-size: clamp(3rem, 10vw + 1rem, 13rem);
    }

    .home-main-hero .home-hero-2 {
        top: 100%;
        left: 75%;
    }

    .home-section-1 {
        padding: 30px;
    }

    .home-section-1 .section-1-p {
        margin-left: 0px;
        width: 100%;
        font-size: 18px;
    }

    .home-section-1 #container,
    .home-section-2 .section-a,
    .home-section-2 .section-b {
        width: 100%;
    }

    .home-section-1 .btn,
    .home-section-2 .section-b .btn {
        width: 70%;
    }

    .home-section-2 {
        padding: 30px;
        height: auto;
        flex-direction: column;
    }

}



@media (max-width: 290px) {
    .home-main-hero span {
        font-size: 2.5rem;
    }

    .home-main-hero {
        padding-left: 10px
    }

    .home-main-hero .home-hero-2 {
        left: 70%;
    }

    nav .nav-holder-1 .logo span {
        font-size: 20px;
    }
}